@media screen and (min-width: 677px) {
    .abc {
        fill: #363636
    }
    .abc:hover {
        fill: #8e44ad
    }
}

@media screen and (max-width: 676px) {
    .abc {
        fill: #ffffff
    }
}